.App {
	text-align: center;
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	letter-spacing: 3px;
	font-family: "Red Hat Text", sans-serif;
}

.heading {
	font-weight: 400;
}

.countdown {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.number-box {
}

.number-box__number {
	background-color: hsl(236, 21%, 26%);
	color: hsl(345, 95%, 68%);
	font-size: 5rem;
	padding: 0.7rem 1rem; /*TODO: CHECK PADDING*/
	width: 9.5rem;
	height: 8rem;
	border-radius: 25%;
	font-weight: 700;

	/* animation-name: downflip;
	animation-duration: 0.5s; */

	animation: all 0.5s ease-out downflip;
}

.number-box__label {
	margin-top: 1rem;
	color: hsl(237, 18%, 59%);
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.social-media__icon {
	cursor: pointer;
}

.social-media__icon:hover {
	opacity: 0.5;
}

.attribution__link {
	color: hsl(345, 95%, 68%);
}

.attribution__link:hover {
	color: hsla(345, 95%, 68%, 0.5);
}

/* @keyframes upflip {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(-90deg);
	}
}

@keyframes downflip {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
 */
