.App {
	text-align: center;
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	letter-spacing: 3px;
}

.heading {
	font-weight: 400;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}
